# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.tfplan.*
crash.log
crash.*.log
.terraform.lock.hcl


# Kubernetes
.kube/
kubeconfig
kubeconfig.*
*.kubeconfig
*.kubeconfig.*

# Examples
.example/

