# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.tfplan.*
crash.log
crash.*.log
.terraform.lock.hcl

# dev env


# prod env


# Helm
.helm/

# Kubernetes
.kube/
kubeconfig
kubeconfig.*
*.kubeconfig
*.kubeconfig.*

# Examples
.example/

# Environments
.env
.env.secret