apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: auth-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: auth
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: wallet-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: wallet
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: frontend-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: frontend
